<header>
<%= image_tag("logo.jpg", :alt=>"Brak logo", :class=>"round")%>
    <nav class="round">
	<ul >
 	  <li>
		<%= link_to "Logowanie",'#' %>
 	 </li>

	</ul>
</nav>
</header>
<div class="nav-container-outer">
<%= image_tag("nav-bg-l.jpg", :alt=>"Brak logo", :class=>"float-left")%>
<%= image_tag("nav-bg-r.jpg", :alt=>"Brak logo", :class=>"float-right")%>
   <ul id="nav-container" class="nav-container">
      <li><%= link_to "HOME",root_path %>
         </li>
   
      <li><span class="divider divider-vert" ></span></li>
      <li><%= link_to "O Firmie",firma_path,:class=>"item-primary" %>
   <ul>
         <li><a href="#;">O nas</a></li>
         <li><span class="divider divider-horiz" ></span></li>
         <li><a href="#;">Test 1</a></li>
         <li><a href="#;">Test 2</a></li>
         </ul></li>
   
      <li><span class="divider divider-vert" ></span></li>
      <li><%= link_to "Klienci",klienci_path ,:class=>"item-primary"%>
   </li>
   
      <li><span class="divider divider-vert" ></span></li>
      <li><%= link_to "Oferta",oferta_path ,:class=>"item-primary"%>
   
         </li>
   
      <li><span class="divider divider-vert" ></span></li>
      <li><%= link_to "Portfolio",portfolio_path ,:class=>"item-primary"%>
   
        </li>
         
       <li><span class="divider divider-vert" ></span></li>
      <li><%= link_to "Kontakt",kontakt_path ,:class=>"item-primary"%>
   
        </li>
   <li class="clear">&nbsp;</li></ul>
</div>

